{% extends 'shop/index.html' %}
{% block content %}
<br>

    <div class="mt-4 p-5 bg-dark text-white rounded">
        <h1>Welcome to my  E-commerce site portfolio project</h1>
        <p>This is a Django 4.1.4 project.</p>

        <p>This project is a simple e-commerce website project.</p>
            
        <p> On this page, the user can view and add products to the shopping cart. 
            All added products will be displayed in the popover and in the checkout summary. 
            When the user clicks the 'Place order' button, his data will be saved to the database.
            Products can only be added through the admin directly in the database </p>
            
        <p>Front-end technologies used in the project:</p>
        <ul>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>CSS</li>
        </ul>

        <p>Back-end technologies used in the project:</p>
        <ul>
            <li>Python</li>
        </ul>
            
        <p>The main functions include:</p>
        
        <ul>
           <li>The 'Home' page</li> 
           <li>Page with all the products</li>
           <li>Detail view page</li> 
           <li>Adding products to cart</li>
           <li>Removing products from the cart</li>
           <li>Popover added to the cart in navbar</li>
           <li>Checkout form</li>
           <li>Saving all the checkout data to the database</li>
           <li>The website resizes for smaller devices</li>
        </ul>

            <p>Bootstrap 5 was used to style the website</p>
            
            <p>Project includes two models: Products and Order</p>
    </div>

{% endblock content %}


